<div class="tags-container filter clearfix">
  <label>标签:</label>
  <ul class="tags">
    <% @tags.each do |tag| %>
      <li><a href="#"><%= tag %></a></li>
    <% end %>
  </ul>
</div>
<div id="container">
  <% @links.each do |link| %>
    <% tags = rand_tags %>
    <div class="item <%= navi_size(link) %> <%= link.tags.map(&:name).join(' ') %>" style="<%= rand_style %>">
      <a href="<%= link.url %>" target="_blank">
       <p class="wrapper">
        <span class="title"><%= link.title %></span>
        <span class="desc"><%= link.description %></span>
       </p>
      </a>
      <ul class="tags">
        <% link.tags.map(&:name).each do |tag| %>
        <li>
          <a href="#"><%= tag %></a>
        </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
